.header{
    background-color: white;
    padding: 2em;
    background-color: $lightBlue;

    & .robot{
        width: 50px;
        transition: .3s ease-in;
        animation: slideInLeftRobot 6s ease;
    
        &:hover{
            transform: translateX(-10%);;
        }
        
        @media (min-width: $breakpoint-tablet) {
            width: 75px;
        }
    }

    &__icon {
        font-size: $titleFontSize;
    }

    &__title{
        font-size: $textFontSize;
        color: rgb(54, 141, 137);
    }

    &__list{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
        text-align: center;

        & li:not(:first-of-type){
            padding: 1em;
            margin: .25em;
            width: 100px;
            border-radius: 25px;
            transition: .3s linear;
            background-color: white;
            box-shadow: 0 8px 6px -6px black;

            &:hover:not(:first-of-type){
                transform: translateY(5px);
                box-shadow: none;                
            }
        }

    & a{
        text-decoration: none;
        font-size: $textFontSize;
        color: black;
    }
}

@media (min-width: $breakpoint-tablet){
    &__list {
        flex-direction: row;
    }
}

}





.footer{
    background-color: $lightBlue;
    display: flex;
    padding: 2em 0;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

    &__icon {
        width: 75px;
    }

    &__para{
        font-size: $textFontSize;
    }
}