.projects{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #3dd0c4;
    margin-bottom: 6em;
    padding: 8em 0;
}

.projects__title{
  font-size: 4em;
  letter-spacing: 3px;
    text-align: center;
    margin: 1em 0;
}

.card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    cursor: pointer;
    height: 20rem;
    width: 200px;
    margin: 20px auto;

    &__title{
        position: absolute;
        left: 50%;
        top: 75%;
        font-size: 1.8rem;
        letter-spacing: 2px;
        transform: translateX(-50%);
        background-color: rgba(255, 255, 255, .5);
        text-align: center;
        width: 75%;
    }
  
    &__side {
      height: 20rem;
      transition: all 1s ease-out;
      position: absolute;
      top: 0;
      left: 0;
      width: 200px;
      backface-visibility: hidden;
      border-radius: 3px;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  
      &--front {
        background-image: linear-gradient(to right bottom, #abdfda, white);
  
        &-img {
          position: absolute;
          width: 70px;
          top: 40%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
  
      &--back {
        transform: rotateY(180deg);
        background-image: linear-gradient(to left top, tomato, white);
  
      }
    }
  
    &:hover &__side--front {
      transform: rotateY(-180deg);
    }
  
    &:hover &__side--back {
      transform: rotateY(0deg);
    }
  }
  
