body{
	background: #D3E6E4;
}

.main{
	display: grid;
	grid-template-columns: repeat(19, 1fr);
	grid-template-rows: repeat(19, 1fr);
	grid-gap: 12px;
	max-width: 800px;
	min-width: 300px;
	height: 90vh;
	margin: 0 auto;
	padding: 1%;
}

.square{

	background: white;
	border:2px solid #245752;
	padding: 5px;
	border-radius:3px;
	text-align: center;
	transition: all 0.5s;
}

.square:nth-of-type(odd):hover{
	transform: scale(1.1);
	border: 2px solid white;
}

.square:nth-of-type(even):hover{
	transform: scale(1.1);
	border: 2px solid white;

}

.color{
	background: #D3E6E4;
	border: 2px solid #D3E6E4;
}

.one{
 grid-column: 2/4;
 grid-row: 2/3;
}

.two{
 grid-column: 4/6;
 grid-row: 2/4;
}

.three{
	grid-column: 6/8;
	grid-row:1/3;
}

.four{
	grid-column: 8/10;
	grid-row: 2/3;
}

.five{
	grid-column: 10/12;
	grid-row:2/4;
}

.six{
	grid-column: 12/14;
	grid-row:1/3;
}

.seven{
	grid-column: 14/16;
	grid-row:2/3;
}

.eight{
	grid-column: 16/18;
	grid-row: 2/4;
}

.nine{
	grid-column: 18/20;
	grid-row: 1/3;
}

.ten{
	grid-column: 1/4;
	grid-row: 3/5;
}

.eleven{
	grid-column: 6/7;
	grid-row: 3/4;
}

.twelve{
	grid-column: 7/10;
	grid-row: 3/5;
}

.thirteen{
	grid-column: 12/13;
	grid-row: 3/4;
}

.fourteen{
	grid-column: 13/16;
	grid-row: 3/5;
}

.fifteen{
	grid-column: 18/19;
	grid-row: 3/4;
}

.sixteen{
	grid-column: 1/3;
	grid-row: 5/7;
}

.seventeen{
	grid-column: 3/4;
	grid-row: 5/6;
}

.eighteen{
	grid-column: 4/5;
	grid-row: 4/6;
}

.nineteen{
	grid-column: 5/7;
	grid-row: 4/7;
}

.twenty{
	grid-column: 7/9;
	grid-row: 5/7;
}

.twentyone{
	grid-column: 9/10;
	grid-row: 5/6;
}

.twentytwo{
	grid-column: 10/11;
	grid-row: 4/6;
}

.twentythree{
	grid-column: 11/13;
	grid-row: 4/7;
}

.twentyfour{
	grid-column: 13/15;
	grid-row: 5/7;
}

.twentyfive{
	grid-column: 15/16;
	grid-row: 5/6;
}

.twentysix{
	grid-column: 16/17;
	grid-row: 4/6;
}

.twentyseven{
	grid-column: 17/19;
	grid-row: 4/7;
}

.twentyeight{
	grid-column: 2/3;
	grid-row: 7/8;
}

.twentynine{
	grid-column: 3/5;
	grid-row: 6/8;
}

.thirty{
	grid-column: 5/6;
	grid-row: 7/8;
}

.thirtyone{
	grid-column: 6/8;
	grid-row: 7/9;
}
.thirtytwo{
	grid-column: 8/9;
	grid-row: 7/8;
}
.thirtythree{
	grid-column: 9/11;
	grid-row: 6/8;
}
.thirtyfour{
	grid-column: 11/12;
	grid-row: 7/8;
}
.thirtyfive{
	grid-column: 12/14;
	grid-row: 7/9;
}
.thirtysix{
	grid-column: 14/15;
	grid-row: 7/8;
}
.thirtyseven{
	grid-column: 15/17;
	grid-row: 6/8;
}
.thirtyeight{
	grid-column: 17/18;
	grid-row: 7/8;
}
.thirtynine{
	grid-column: 18/20;
	grid-row: 7/9;
}

.fourty{
	grid-column:2/4;
	grid-row: 8/9;
}

.fourtyone{
	grid-column:4/6;
	grid-row: 8/10;
}

.fourtytwo{
	grid-column:8/10;
	grid-row: 8/9;
}

.fourtythree{
	grid-column:10/12;
	grid-row: 8/10;
}

.fourtyfour{
	grid-column:14/16;
	grid-row: 8/9;
}

.fourtyfive{
	grid-column:16/18;
	grid-row: 8/10;
}

.fourtysix{
	grid-column:1/4;
	grid-row: 9/11;
}

.fourtyseven{
	grid-column:6/7;
	grid-row: 9/10;
}

.fourtyeight{
	grid-column:7/10;
	grid-row: 9/11;
}

.fourtynine{
	grid-column:12/13;
	grid-row: 9/10;
}

.fifty{
	grid-column:13/16;
	grid-row: 9/11;
}

.fiftyone{
	grid-column:18/19;
	grid-row: 9/10;
}

.fiftytwo{
	grid-column:1/3;
	grid-row: 11/13;
}

.fiftythree{
	grid-column:3/4;
	grid-row: 11/12;
}

.fiftyfour{
	grid-column:4/5;
	grid-row: 10/12;
}

.fiftyfive{
	grid-column:5/7;
	grid-row: 10/13;
}

.fiftysix{
	grid-column:7/9;
	grid-row: 11/13;
}

.fiftyseven{
	grid-column:9/10;
	grid-row: 11/12;
}

.fiftyeight{
	grid-column:10/11;
	grid-row: 10/12;
}

.fiftynine{
	grid-column:11/13;
	grid-row: 10/13;
}

.sixty{
	grid-column: 13/15;
	grid-row: 11/13;
}

.sixtyone{
	grid-column: 15/16;
	grid-row: 11/12;
}

.sixtytwo{
	grid-column: 16/17;
	grid-row: 10/12;
}

.sixtythree{
	grid-column: 17/19;
	grid-row: 10/13;
}

.sixtyfour{
	grid-column: 2/3;
	grid-row: 13/14;
}

.sixtyfive{
	grid-column: 3/5;
	grid-row: 12/14;
}

.sixtysix{
	grid-column: 5/6;
	grid-row: 13/14;
}

.sixtyseven{
	grid-column: 6/8;
	grid-row: 13/15;
}
.sixtyeight{
	grid-column: 8/9;
	grid-row: 13/14;
}
.sixtynine{
	grid-column: 9/11;
	grid-row: 12/14;
}

.seventy{
	grid-column: 11/12;
	grid-row: 13/14;
}

.seventyone{
	grid-column: 12/14;
	grid-row: 13/15;
}

.seventytwo{
	grid-column: 14/15;
	grid-row: 13/14;
}

.seventythree{
	grid-column: 15/17;
	grid-row: 12/14;
}

.seventyfour{
	grid-column: 17/18;
	grid-row: 13/14;
}

.seventyfive{
	grid-column: 18/20;
	grid-row: 13/15;
}

.seventysix{
	grid-column: 2/4;
	grid-row: 14/15;
}

.seventyseven{
	grid-column: 4/6;
	grid-row: 14/16;
}

.seventyeight{
	grid-column: 8/10;
	grid-row: 14/15;
}

.seventynine{
	grid-column: 10/12;
	grid-row: 14/16;
}

.eighty{
	grid-column: 14/16;
	grid-row: 14/15;
}

.eightyone{
	grid-column: 16/18;
	grid-row: 14/16;
}

.eightytwo{
	grid-column: 1/4;
	grid-row: 15/17;
}

.eightythree{
	grid-column: 6/7;
	grid-row: 15/16;
}

.eightyfour{
	grid-column: 7/10;
	grid-row: 15/17;
}

.eightyfive{
	grid-column: 12/13;
	grid-row: 15/16;
}


.eightysix{
	grid-column: 13/16;
	grid-row: 15/17;
}

.eightyseven{
	grid-column: 18/19;
	grid-row: 15/16;
}

.eightyeight{
	grid-column:1/3 ;
	grid-row:17/19 ;
}

.eightynine{
	grid-column: 3/4;
	grid-row: 17/18;
}

.ninety{
	grid-column: 4/5;
	grid-row: 16/18;
}

.ninetyone{
	grid-column: 5/7;
	grid-row: 16/19;
}

.ninetytwo{
	grid-column: 7/9;
	grid-row: 17/19;
}

.ninetythree{
	grid-column: 9/10;
	grid-row: 17/18;
}

.ninetyfour{
	grid-column: 10/11;
	grid-row: 16/18;
}

.ninetyfive{
	grid-column: 11/13;
	grid-row: 16/19;
}

.ninetysix{
	grid-column: 13/15;
	grid-row: 17/19;
}

.ninetyseven{
	grid-column: 15/16;
	grid-row: 17/18;
}

.ninetyeight{
	grid-column: 16/17;
	grid-row: 16/18;
}

.ninetynine{
	grid-column: 17/19;
	grid-row: 16/19;
}

.onehundred{
	grid-column: 2/3;
	grid-row: 19/20;
}

.onehundredone{
	grid-column: 3/5;
	grid-row: 18/20;
}

.onehundredtwo{
	grid-column: 5/6;
	grid-row: 19/20;
}

.onehundredthree{
	grid-column: 8/9;
	grid-row: 19/20;
}

.onehundredfour{
	grid-column: 9/11;
	grid-row: 18/20;
}

.onehundredfive{
	grid-column: 11/12;
	grid-row: 19/20;
}

.onehundredsix{
	grid-column: 14/15;
	grid-row: 19/20;
}

.onehundredseven{
	grid-column: 15/17;
	grid-row: 18/20;
}

.onehundredeight{
	grid-column: 17/18;
	grid-row: 19/20;
}

