.btn {
    width: 90%;
    margin: 1em 0; 
    padding: .5em;
    font-size: $textFontSize;
    border: none;  
    border-radius: 20px;
    background-color: tomato;
    cursor: pointer;
    outline: none;

    &--card{
        background-color: white;
        width: 150px;
        margin: 0 auto;
        position: absolute;
        top:20%;
        left: 12.5%;

        &-bottom{
            background-color: darkcyan;
            top: 55%;
        }

    & a{
        text-decoration: none;
        color: black;
        font-size: $textFontSize;
    }
    }

    @media (min-width: $breakpoint-tablet){
        
            width: 200px;

            &--card {
                width: 150px;
            }
        
    }

    &:hover,
    &:focus{
        animation: pulse 1s;
        box-shadow: 0 0 0 .75em rgba(#fff, 0);
    }
}
