$titleFontSize: 2.7rem;
$textFontSize: 2.2rem;
$breakpoint-tablet: 768px;
$breakpoint-xl-tablet: 1000px;
$breakpoint-desktop: 1300px;
$teal: #3dd0c4;
$lightBlue: #abdfda;
$lightOrange: #ffe4c46b;
$pink: pink;
