@import
'./variables/variables', 
'./header-footer/header-footer', 
'./animations/animations', 
'./form/form', 
'./btn/btn';


//main styles

*{
    padding: 0;
    margin: 0;
    font-size: 10px;
}

html{
    background-color: white;
    max-width: 1300px;
    margin: 0 auto;
}

body{
    background-color: rgb(255, 255, 255);
    font-family: 'Dosis', sans-serif;
    overflow-x: hidden;

    @media (min-width: $breakpoint-tablet){
        margin: 30px;
    }
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.column{
    flex-basis: 100%;

    @media (min-width: $breakpoint-tablet){
        flex-basis: 44%;
        margin: 2%;

    }
}

.col-33{
    flex-basis: 100%;

    @media (min-width: $breakpoint-tablet){
        flex-basis: 30%;
        margin: 2%;
    }
}

//front page

.intro{
    background-image: linear-gradient(to bottom, #fa6c41, indianred);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 75%);
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    letter-spacing: 2px;

    &__title{
        font-size: $titleFontSize + 1;
        color: whitesmoke;
        margin-bottom: .5em;
        animation: slideInLeft 1.5s ease;
    }

    &__subtitle{
    font-size: $textFontSize + .5;
    animation: slideInRight 2.3s ease;
    }
}

.paragraph{
    font-size: $textFontSize;
    text-align: center;
    line-height: 1.8;
    padding: 1em;

    &--teal{
        background-color: $teal;
        padding: 2em;
    }

    @media (min-width: $breakpoint-tablet){
        &--teal{
            background-color: white;
            padding: 1em;
        }
    }
}

.about{
    background-color: white;
    text-align: center;
    margin-top: -55px;

    &__icon{
        width: 150px;
        margin: 40px auto 10px auto;
    }

    &__title{
        font-size: $textFontSize;
        margin: 1em;
        color: darken($teal, 25%);
    }

    @media (min-width: $breakpoint-tablet){
        margin-top: 0;
        background-color: white;

        &__icon{
            margin: 0;
        }
    }
}

.lang{
    text-align: center;
    margin: 2em auto 2em auto;

    &__section{
        margin: 1em 0;
    }

    &__icon{
        width: 160px;
        margin: 2em 0;
    }
    }



