@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
  }
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
  }
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
  }
  80% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes slideInRight {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
  }
  80% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 99, 71, 0.733);
            box-shadow: 0 0 0 0 rgba(255, 99, 71, 0.733);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 99, 71, 0.733);
            box-shadow: 0 0 0 0 rgba(255, 99, 71, 0.733);
  }
}

@-webkit-keyframes slideInLeftRobot {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
  }
  50% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  70% {
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes slideInLeftRobot {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
  }
  50% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  70% {
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.btn {
  width: 90%;
  margin: 1em 0;
  padding: 0.5em;
  font-size: 2.2rem;
  font-family: 'Dosis', sans-serif;
  border: none;
  border-radius: 20px;
  background-color: tomato;
  cursor: pointer;
  outline: none;
}

.btn--projects {
  background-color: #abdfda;
}

.btn--card {
  background-color: white;
  width: 150px;
  margin: 0 auto;
  position: absolute;
  top: 20%;
  left: 12.5%;
}

.btn--card-bottom {
  background-color: darkcyan;
  top: 55%;
}

.btn--card a {
  text-decoration: none;
  color: black;
  font-size: 2.2rem;
  font-family: 'Dosis', sans-serif;
}

@media (min-width: 768px) {
  .btn {
    width: 200px;
  }
  .btn--card {
    width: 150px;
  }
}

.btn:hover, .btn:focus {
  -webkit-animation: pulse 1s;
          animation: pulse 1s;
  -webkit-box-shadow: 0 0 0 0.75em rgba(255, 255, 255, 0);
          box-shadow: 0 0 0 0.75em rgba(255, 255, 255, 0);
}

.contact-page-title {
  font-size: 4em;
  letter-spacing: 3px;
  margin: 1em 0;
  background-image: -webkit-gradient(linear, left top, right top, from(tomato), to(#3dd0c4));
  background-image: linear-gradient(to right, tomato, #3dd0c4);
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  color: transparent;
}

.contact {
  background-image: -webkit-gradient(linear, left top, right bottom, from(tomato), to(indianred));
  background-image: linear-gradient(to bottom right, tomato, indianred);
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  height: 55vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact__span,
.contact__span q {
  font-size: 2.95rem;
  padding: 0.15em;
  color: white;
}

.contact__para {
  margin-top: -90px;
  line-height: 2;
  padding: 0.25em;
  font-size: 2.2rem;
}

@media (min-width: 768px) {
  .contact {
    height: 50vh;
    width: 60%;
    padding: 1em;
    margin: 0 auto;
  }
  .contact__para {
    margin-top: -140px;
    line-height: 2;
  }
}

@media (min-width: 1000px) {
  .contact {
    height: 40vh;
  }
  .contact__para {
    font-size: 2.7rem;
  }
}

@media (min-width: 1300px) {
  .contact__para {
    margin-top: -130px;
  }
}

.contact-form {
  text-align: center;
  margin-top: 5em;
}

.contact-form form {
  background-color: #ffe4c46b;
  padding-top: 1em;
}

.contact-form label {
  display: block;
  margin: 0 auto;
  font-size: 2.2rem;
}

.contact-form input {
  font-size: 2.2rem;
  text-align: center;
  padding: 0.25em 0;
  margin: 0.5em 0;
  border: 1px solid tomato;
  outline: none;
  border-radius: 10px;
  -webkit-box-shadow: 0 6px 15px 4px rgba(0, 0, 0, 0.06);
          box-shadow: 0 6px 15px 4px rgba(0, 0, 0, 0.06);
}

.contact-form input:focus {
  border: 1px solid #abdfda;
}

.contact-form textarea {
  font-size: 2.2rem;
  padding: 0.25em;
  text-align: center;
  display: block;
  margin: 0.5em auto 0 auto;
  outline: none;
  border-radius: 10px;
  width: 90%;
  border: 1px solid tomato;
  -webkit-box-shadow: 0 6px 15px 4px rgba(0, 0, 0, 0.06);
          box-shadow: 0 6px 15px 4px rgba(0, 0, 0, 0.06);
}

.contact-form textarea:focus {
  border: 1px solid #abdfda;
}

.menu {
  position: absolute;
  height: 20px;
  width: 22.5px;
  top: 20px;
  right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .menu {
    display: none;
  }
}

.topbar {
  background-color: black;
  height: 2px;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
}

.middlebar {
  background-color: black;
  height: 2px;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.bottombar {
  background-color: black;
  height: 2px;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
}

.close .topbar {
  -webkit-transform: rotate(42deg) scaleX(1.2);
          transform: rotate(42deg) scaleX(1.2);
  background-color: tomato;
}

.close .middlebar {
  opacity: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.close .bottombar {
  -webkit-transform: rotate(-42deg) scaleX(1.2);
          transform: rotate(-42deg) scaleX(1.2);
  background-color: tomato;
}

.header {
  padding: 1em;
  background-color: #abdfda;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 2;
  margin: 0;
}

.header__li {
  padding: 0.6em;
  margin: 0.5em;
  color: pink;
  width: 100px;
  border-radius: 25px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  background-color: whitesmoke;
  -webkit-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

.header__li:hover {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header .robot {
  width: 50px;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  -webkit-animation: slideInLeftRobot 6s ease;
          animation: slideInLeftRobot 6s ease;
}

.header .robot:hover {
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
}

.header__span {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2.2rem;
  font-weight: 600;
}

.header__list {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  text-align: center;
  display: none;
}

@media (min-width: 768px) {
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__list a {
  text-decoration: none;
  font-size: 2.2rem;
  color: black;
}

@media (min-width: 768px) {
  .header__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header .robot {
    width: 75px;
  }
  .header__list {
    padding: 0.75em;
  }
}

.footer {
  background-color: #abdfda;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2em 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer__icon {
  width: 75px;
}

.footer__para {
  font-size: 2.2rem;
}

.sites {
  background-color: #e4e1e1;
  padding: 1em;
}

.sites__img {
  width: 300px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 700px) {
  .sites__img {
    width: auto;
  }
}

.sites__listitems {
  padding: 1em;
}

.sites__listitems li {
  list-style: none;
  font-size: 2rem;
  margin: 1em auto;
}

.sites__link {
  color: black;
  font-size: 1.8rem;
}

.sites__block, .sites__quote, .sites__para {
  max-width: 500px;
  font-size: 2rem;
  margin: 0 auto;
  background: white;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3dd0c4;
  margin-bottom: 3em;
  padding: 2em 0;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.projects__div {
  margin-bottom: 3em;
}

.projects__title {
  font-size: 4em;
  letter-spacing: 3px;
  text-align: center;
  margin: 1em 0;
}

.card {
  -webkit-perspective: 150rem;
          perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  cursor: pointer;
  height: 20rem;
  width: 200px;
  margin: 20px;
}

.card__title {
  position: absolute;
  left: 50%;
  top: 75%;
  font-size: 1.8rem;
  letter-spacing: 2px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  width: 75%;
}

.card__side {
  height: 20rem;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 3px;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}

.card__side--front {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#abdfda), to(white));
  background-image: linear-gradient(to right bottom, #abdfda, white);
}

.card__side--front-img {
  position: absolute;
  width: 70px;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.card__side--back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-image: -webkit-gradient(linear, right bottom, left top, from(tomato), to(white));
  background-image: linear-gradient(to left top, tomato, white);
}

.card:hover .card__side--front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* {
  padding: 0;
  margin: 0;
  font-size: 10px;
  text-align: center;
}

html {
  background-color: #f7f7f7;
  margin: 0 auto;
  max-width: 1300px;
}

body {
  background-color: white;
  font-family: 'Dosis', sans-serif;
  overflow-x: hidden;
  background-color: white;
}

@media (min-width: 768px) {
  body {
    margin: 30px;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.column {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media (min-width: 768px) {
  .column {
    -ms-flex-preferred-size: 44%;
        flex-basis: 44%;
    margin: 2%;
  }
}

.col-30 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media (min-width: 768px) {
  .col-30 {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    margin: 2%;
  }
}

.col-20 {
  -ms-flex-preferred-size: 44%;
      flex-basis: 44%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 768px) {
  .col-20 {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    margin: 3%;
  }
}

.col-50 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 2%;
}

@media (min-width: 768px) {
  .col-50 {
    -ms-flex-preferred-size: 44%;
        flex-basis: 44%;
  }
}

.intro {
  background-image: -webkit-gradient(linear, left top, left bottom, from(tomato), to(rgba(205, 92, 92, 0.856)));
  background-image: linear-gradient(to bottom, tomato, rgba(205, 92, 92, 0.856));
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 75%);
          clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 75%);
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  letter-spacing: 2px;
  text-align: center;
}

.intro__title {
  font-size: 4.7rem;
  color: whitesmoke;
  margin-bottom: 0.5em;
  -webkit-animation: slideInLeft 1.5s ease;
          animation: slideInLeft 1.5s ease;
  margin-top: -100px;
}

.intro__subtitle {
  font-size: 3.2rem;
  -webkit-animation: slideInRight 2.3s ease;
          animation: slideInRight 2.3s ease;
}

.paragraph {
  font-size: 2.2rem;
  text-align: center;
  line-height: 1.8;
  padding: 1em;
}

.paragraph--teal {
  background-color: #3dd0c4;
  padding: 2em;
}

@media (min-width: 768px) {
  .paragraph--teal {
    background-color: white;
    padding: 1em;
  }
}

.about {
  background-color: white;
  text-align: center;
  margin-top: -55px;
}

.about__icon {
  width: 200px;
  margin: 40px auto 10px auto;
}

.about__title {
  font-size: 2.2rem;
  font-family: 'Courier New', Courier, monospace;
  margin: 1em;
  color: #3dd0c4;
}

@media (min-width: 768px) {
  .about {
    margin-top: 0;
    background-color: white;
  }
  .about__icon {
    margin: 0;
  }
}

.lang {
  text-align: center;
  margin: 2em auto 2em auto;
}

.lang__section {
  margin: 1em 0;
}

.lang__icon {
  width: 110px;
  margin: 2em 0;
}
/*# sourceMappingURL=style.css.map */