.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3dd0c4;
  margin-bottom: 6em;
  padding: 8em 0;
  text-align: center;
}

.projects__title {
  font-size: 4em;
  letter-spacing: 3px;
  text-align: center;
  margin: 1em 0;
}

.card {
  -webkit-perspective: 150rem;
          perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  cursor: pointer;
  height: 20rem;
  width: 200px;
  margin: 20px auto;
}

.card__title {
  position: absolute;
  left: 50%;
  top: 75%;
  font-size: 1.8rem;
  letter-spacing: 2px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  width: 75%;
}

.card__side {
  height: 20rem;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 3px;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}

.card__side--front {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#abdfda), to(white));
  background-image: linear-gradient(to right bottom, #abdfda, white);
}

.card__side--front-img {
  position: absolute;
  width: 70px;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.card__side--back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-image: -webkit-gradient(linear, right bottom, left top, from(tomato), to(white));
  background-image: linear-gradient(to left top, tomato, white);
}

.card:hover .card__side--front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.project-section {
  margin: 2em .5em;
}

.flower-wrapper {
  position: relative;
  background: rebeccapurple;
  width: 100%;
  height: 400px;
  margin: 0 auto;
}

.flower-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.flowerPower {
  -webkit-animation: clockwise 18s infinite ease-in-out;
          animation: clockwise 18s infinite ease-in-out;
}

.leaf {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  background: #fef65b;
  border-radius: 2px 50px;
  border: 2px solid white;
  -webkit-transform-origin: 0px 0px;
          transform-origin: 0px 0px;
}

.leaf1 {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  height: 110px;
  width: 110px;
  opacity: 0.5;
  background: tomato;
}

.leaf2 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.leaf3 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  height: 110px;
  width: 110px;
  opacity: 0.5;
  background: tomato;
}

.leaf4 {
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
}

.leaf5 {
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
  height: 110px;
  width: 110px;
  opacity: 0.5;
  background: tomato;
}

.leaf6 {
  -webkit-transform: rotate(210deg);
          transform: rotate(210deg);
}

.leaf7 {
  -webkit-transform: rotate(210deg);
          transform: rotate(210deg);
  height: 110px;
  width: 110px;
  opacity: 0.5;
  background: tomato;
}

.leaf8 {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.leaf9 {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  height: 110px;
  width: 110px;
  opacity: 0.5;
  background: tomato;
}

.leaf10 {
  -webkit-transform: rotate(330deg);
          transform: rotate(330deg);
}

.leaf11 {
  -webkit-transform: rotate(330deg);
          transform: rotate(330deg);
  height: 110px;
  width: 110px;
  opacity: 0.5;
  background: tomato;
}

.leaf12 {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  z-index: -2;
}

.dot {
  position: absolute;
  border-radius: 50%;
  background: tomato;
  height: 15px;
  width: 15px;
  z-index: 3;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@-webkit-keyframes clockwise {
  0% {
    -webkit-transform: rotate(0) scale(0);
            transform: rotate(0) scale(0);
  }
  50% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
  100% {
    -webkit-transform: rotate(0) scale(0);
            transform: rotate(0) scale(0);
  }
}

@keyframes clockwise {
  0% {
    -webkit-transform: rotate(0) scale(0);
            transform: rotate(0) scale(0);
  }
  50% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
  100% {
    -webkit-transform: rotate(0) scale(0);
            transform: rotate(0) scale(0);
  }
}

.star-wrapper {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.star-container {
  background: #231a70;
  height: 400px;
  width: 100%;
}

.moon {
  position: absolute;
  top: 30%;
  left: 38%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 150px;
  width: 160px;
  border-left: 25px solid whitesmoke;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  z-index: 2;
}

.star {
  opacity: 0;
  -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
          clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  background: aliceblue;
  height: 15px;
  width: 15px;
  position: absolute;
  -webkit-transform: translateY(-300px);
          transform: translateY(-300px);
}

.star1 {
  left: 10%;
  top: 9%;
}

.star2 {
  left: 25%;
  top: 0%;
}

.star3 {
  left: 50%;
  top: 15%;
}

.star4 {
  left: 80%;
  top: 0%;
}

.star5 {
  left: 40%;
  top: 10%;
}

.star6 {
  left: 60%;
  top: 3%;
}

.star7 {
  left: 90%;
  top: 20%;
}

.star8 {
  left: 70%;
  top: 5%;
}

.star9 {
  left: 18%;
  top: 0%;
}

.star10 {
  left: 2%;
  top: 7%;
}

.star11 {
  left: 53%;
  top: 0%;
}

.star12 {
  left: 93%;
  top: 0%;
}

.star13 {
  left: 99%;
  top: 20%;
}

.star14 {
  left: 63%;
  top: 0%;
}

.star15 {
  left: 17%;
  top: 20%;
}

.star16 {
  left: 66%;
  top: 0%;
}

.star17 {
  left: 88%;
  top: 0%;
}

.star18 {
  left: 82%;
  top: 0%;
}

.star19 {
  left: 7%;
  top: 1%;
}

.star20 {
  left: 56%;
  top: 0%;
}

.star21 {
  left: 7%;
  top: 0%;
}

.star22 {
  left: 29%;
  top: 2.5%;
}

.star23 {
  left: 32%;
  top: 0%;
}

.star24 {
  left: 87%;
  top: 0%;
}

.star25 {
  left: 77%;
  top: 7%;
}

.star26 {
  left: 57%;
  top: 11%;
}

.star27 {
  left: 35%;
  top: 8%;
}

.star28 {
  left: 46%;
  top: 30%;
}

.star29 {
  left: 32%;
  top: 40%;
}

.star30 {
  left: 37%;
  top: 50%;
}

.star31 {
  left: 7%;
  top: 7%;
}

.star32 {
  left: 14%;
  top: 14%;
}

.star33 {
  left: 21%;
  top: 21%;
}

.star34 {
  left: 28%;
  top: 8%;
}

.star35 {
  left: 35%;
  top: 3%;
}

.star36 {
  left: 42%;
  top: 4%;
}

.star37 {
  left: 49%;
  top: 49%;
}

.star38 {
  left: 56%;
  top: 56%;
}

.star39 {
  left: 63%;
  top: 6%;
}

.star40 {
  left: 70%;
  top: 5%;
}

.star41 {
  left: 77%;
  top: 7%;
}

@-webkit-keyframes fall {
  0% {
    -webkit-transform: translatey(0px) rotate(0deg);
            transform: translatey(0px) rotate(0deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translatey(300px) rotate(270deg);
            transform: translatey(300px) rotate(270deg);
  }
}

@keyframes fall {
  0% {
    -webkit-transform: translatey(0px) rotate(0deg);
            transform: translatey(0px) rotate(0deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translatey(300px) rotate(270deg);
            transform: translatey(300px) rotate(270deg);
  }
}

.star:nth-child(5n + 5) {
  -webkit-animation: 10s linear infinite fall;
          animation: 10s linear infinite fall;
  height: 20px;
  width: 20px;
}

.star:nth-child(3n + 2) {
  -webkit-animation: 15s linear 2s infinite fall;
          animation: 15s linear 2s infinite fall;
}

.star:nth-child(2n + 5) {
  -webkit-animation: 20s linear 3s infinite fall;
          animation: 20s linear 3s infinite fall;
}

.star:nth-child(3n + 10) {
  -webkit-animation: 25s linear 5s infinite fall;
          animation: 25s linear 5s infinite fall;
  background: blue;
}

.star:nth-child(7n + 2) {
  -webkit-animation: 30s linear 3.5s infinite fall;
          animation: 30s linear 3.5s infinite fall;
}

.star:nth-child(4n + 5) {
  -webkit-animation: 35s linear 4s infinite fall;
          animation: 35s linear 4s infinite fall;
}

.star:nth-child(3n + 7) {
  -webkit-animation: 40s linear 8s infinte fall;
          animation: 40s linear 8s infinte fall;
  background: yellow;
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: black;
}

.frame {
  background: #263a4d;
  width: 1200px;
  margin: 0 auto;
  height: 425px;
  position: relative;
  overflow: hidden;
}

.wave-moon {
  position: absolute;
  height: 100px;
  width: 70px;
  top: 25px;
  left: 125px;
  border-radius: 100%;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
  border-left: 20px solid gold;
}

.stars {
  width: 13px;
  height: 13px;
  background: white;
  position: absolute;
  left: 400px;
  top: 50px;
  -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
          clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.stars:nth-of-type(even) {
  height: 20px;
  width: 20px;
  -webkit-animation: star 10s linear infinite;
          animation: star 10s linear infinite;
}

.stars:nth-of-type(odd) {
  -webkit-animation: star 10s linear infinite alternate;
          animation: star 10s linear infinite alternate;
}

.stars2 {
  left: 700px;
  top: 100px;
}

.stars3 {
  left: 900px;
  top: 25px;
}

.stars4 {
  left: 1100px;
  top: 175px;
}

.stars5 {
  left: 515px;
  top: 160px;
}

.stars6 {
  left: 50px;
  top: 60px;
}

.stars7 {
  left: 220px;
  top: 35px;
}

.stars8 {
  left: 400px;
  top: 170px;
}

.stars9 {
  left: 640px;
  top: 190px;
}

.stars10 {
  left: 840px;
  top: 140px;
}

.stars11 {
  left: 150px;
  top: 170px;
}

.stars12 {
  left: 580px;
  top: 40px;
}

.stars13 {
  left: 1000px;
  top: 140px;
}

.stars14 {
  left: 1050px;
  top: 20px;
}

.stars15 {
  left: 25px;
  top: 150px;
}

.stars16 {
  left: 300px;
  top: 115px;
}

.stars17 {
  left: 770px;
  top: 38px;
}

.wave {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: move ease-in-out infinite alternate;
          animation: move ease-in-out infinite alternate;
}

.circle {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  top: -25px;
}

.wave-top {
  background: #406384;
  height: 190px;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

.wave-top .circle:nth-of-type(even) {
  background: #406384;
}

.wave-top .circle:nth-of-type(odd) {
  background: #263a4d;
}

.wave-middle {
  background: #0058ab;
  height: 130px;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

.wave-middle .circle:nth-of-type(even) {
  background: #0058ab;
}

.wave-middle .circle:nth-of-type(odd) {
  background: #406384;
}

.wave-bottom {
  background: #0178bd;
  height: 60px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.wave-bottom .circle:nth-of-type(even) {
  background: #0178bd;
}

.wave-bottom .circle:nth-of-type(odd) {
  background: #0058ab;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: translate(-100px, 10px);
            transform: translate(-100px, 10px);
  }
}

@keyframes move {
  0% {
    -webkit-transform: translate(-100px, 10px);
            transform: translate(-100px, 10px);
  }
}

@-webkit-keyframes star {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes star {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes undulate {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  25% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes undulate {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  25% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
  }
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
  }
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
  }
  80% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes slideInRight {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
  }
  80% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 99, 71, 0.733);
            box-shadow: 0 0 0 0 rgba(255, 99, 71, 0.733);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 99, 71, 0.733);
            box-shadow: 0 0 0 0 rgba(255, 99, 71, 0.733);
  }
}

@-webkit-keyframes slideInLeftRobot {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
  }
  50% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  70% {
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes slideInLeftRobot {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
  }
  50% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  70% {
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.btn {
  width: 90%;
  margin: 1em 0;
  padding: .5em;
  font-size: 2.2rem;
  border: none;
  border-radius: 20px;
  background-color: tomato;
  cursor: pointer;
}

.btn--card {
  background-color: white;
  width: 150px;
  margin: 0 auto;
  position: absolute;
  top: 20%;
  left: 12.5%;
}

.btn--card-bottom {
  background-color: darkcyan;
  top: 55%;
}

.btn--card a {
  text-decoration: none;
  color: black;
  font-size: 2.2rem;
}

@media (min-width: 768px) {
  .btn {
    width: 200px;
  }
  .btn--card {
    width: 150px;
  }
}

.btn:hover, .btn:focus {
  -webkit-animation: pulse 1s;
          animation: pulse 1s;
  -webkit-box-shadow: 0 0 0 0.75em rgba(255, 255, 255, 0);
          box-shadow: 0 0 0 0.75em rgba(255, 255, 255, 0);
}

.contact {
  background-image: -webkit-gradient(linear, left top, right bottom, from(tomato), to(indianred));
  background-image: linear-gradient(to bottom right, tomato, indianred);
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  height: 55vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact__span,
.contact__span q {
  font-size: 2.95rem;
  padding: .15em;
  color: white;
}

.contact__para {
  margin-top: -90px;
  line-height: 2;
  padding: .25em;
  font-size: 2.2rem;
}

@media (min-width: 768px) {
  .contact {
    height: 50vh;
    width: 60%;
    padding: 1em;
    margin: 0 auto;
  }
  .contact__para {
    margin-top: -140px;
    line-height: 2;
  }
}

@media (min-width: 1000px) {
  .contact {
    height: 40vh;
  }
  .contact__para {
    font-size: 2.7rem;
  }
}

@media (min-width: 1300px) {
  .contact__para {
    margin-top: -130px;
  }
}

.contact-form {
  text-align: center;
  margin-top: 1em;
}

.contact-form__title {
  font-size: 4em;
  letter-spacing: 3px;
  margin-bottom: 1em;
  background-image: -webkit-gradient(linear, left top, right top, from(tomato), to(#3dd0c4));
  background-image: linear-gradient(to right, tomato, #3dd0c4);
  -webkit-background-clip: text;
  display: inline-block;
  color: transparent;
}

.contact-form form {
  background-color: #f8d19d;
  padding-top: 1em;
}

.contact-form label {
  display: block;
  margin: 0 auto;
  font-size: 2.2rem;
}

.contact-form input {
  font-size: 2.2rem;
  text-align: center;
  padding: .25em 0;
  margin: .5em 0;
  border: 1px solid tomato;
  outline: none;
  border-radius: 10px;
  -webkit-box-shadow: 0 6px 15px 4px rgba(0, 0, 0, 0.06);
          box-shadow: 0 6px 15px 4px rgba(0, 0, 0, 0.06);
}

.contact-form input:focus {
  -webkit-box-shadow: 0 8px 6px -6px #3dd0c4;
          box-shadow: 0 8px 6px -6px #3dd0c4;
}

.contact-form textarea {
  font-size: 2.2rem;
  padding: .25em;
  text-align: center;
  display: block;
  margin: .5em auto 0 auto;
  outline: none;
  border-radius: 10px;
  width: 90%;
  border: 1px solid tomato;
  -webkit-box-shadow: 0 6px 15px 4px rgba(0, 0, 0, 0.06);
          box-shadow: 0 6px 15px 4px rgba(0, 0, 0, 0.06);
}

.contact-form textarea:focus {
  -webkit-box-shadow: 0 10px 6px -6px #3dd0c4;
          box-shadow: 0 10px 6px -6px #3dd0c4;
}

.header {
  background-color: white;
  padding: 2em;
  background-color: #abdfda;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.header .robot {
  width: 50px;
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
  -webkit-animation: slideInLeftRobot 6s ease;
          animation: slideInLeftRobot 6s ease;
}

.header .robot:hover {
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
}

.header__span {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2.2rem;
  font-weight: 600;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  text-align: center;
}

.header__list li:not(:first-of-type) {
  padding: .5em;
  margin: .5em;
  width: 100px;
  border-radius: 25px;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  background-color: whitesmoke;
  -webkit-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

.header__list li:not(:first-of-type):hover:not(:first-of-type) {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header__list a {
  text-decoration: none;
  font-size: 2.2rem;
  color: black;
}

@media (min-width: 768px) {
  .header__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header .robot {
    width: 75px;
  }
  .header__list li:not(:first-of-type) {
    padding: 1em;
  }
}

.footer {
  background-color: #abdfda;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2em 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer__icon {
  width: 75px;
}

.footer__para {
  font-size: 2.2rem;
}

* {
  padding: 0;
  margin: 0;
  font-size: 10px;
}

html {
  background-color: #f7f7f7;
  max-width: 1300px;
  margin: 0 auto;
}

body {
  background-color: white;
  font-family: 'Dosis', sans-serif;
  overflow-x: hidden;
  background-color: white;
}

@media (min-width: 768px) {
  body {
    margin: 30px;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.column {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media (min-width: 768px) {
  .column {
    -ms-flex-preferred-size: 44%;
        flex-basis: 44%;
    margin: 2%;
  }
}

.col-20 {
  -ms-flex-preferred-size: 44%;
      flex-basis: 44%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 768px) {
  .col-20 {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    margin: 3%;
  }
}

.col-50 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 2%;
}

@media (min-width: 768px) {
  .col-50 {
    -ms-flex-preferred-size: 44%;
        flex-basis: 44%;
  }
}

.intro {
  background-image: -webkit-gradient(linear, left top, left bottom, from(tomato), to(rgba(205, 92, 92, 0.856)));
  background-image: linear-gradient(to bottom, tomato, rgba(205, 92, 92, 0.856));
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 75%);
          clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 75%);
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  letter-spacing: 2px;
  text-align: center;
}

.intro__title {
  font-size: 4.7rem;
  color: whitesmoke;
  margin-bottom: .5em;
  -webkit-animation: slideInLeft 1.5s ease;
          animation: slideInLeft 1.5s ease;
  margin-top: -100px;
}

.intro__subtitle {
  font-size: 3.2rem;
  -webkit-animation: slideInRight 2.3s ease;
          animation: slideInRight 2.3s ease;
}

.paragraph {
  font-size: 2.2rem;
  text-align: center;
  line-height: 1.8;
  padding: 1em;
}

.paragraph--teal {
  background-color: #3dd0c4;
  padding: 2em;
}

@media (min-width: 768px) {
  .paragraph--teal {
    background-color: white;
    padding: 1em;
  }
}

.about {
  background-color: white;
  text-align: center;
  margin-top: -55px;
}

.about__icon {
  width: 200px;
  margin: 40px auto 10px auto;
}

.about__title {
  font-size: 2.2rem;
  font-family: 'Courier New', Courier, monospace;
  margin: 1em;
  color: #3dd0c4;
}

@media (min-width: 768px) {
  .about {
    margin-top: 0;
    background-color: white;
  }
  .about__icon {
    margin: 0;
  }
}

.lang {
  text-align: center;
  margin: 2em auto 2em auto;
}

.lang__section {
  margin: 1em 0;
}

.lang__icon {
  width: 110px;
  margin: 2em 0;
}
/*# sourceMappingURL=style.css.map */